<div class="d-flex flex-row align-items-center mx-3 mt-1">
    <div class="btn-group btn-group-sm me-3">
        <a href="/list/create" class="btn btn-primary pe-3">
            <i class="material-icons align-middle">add</i>
            <span class="align-middle fw-bolder">Create list</span>
        </a>
    </div>
    <div class="btn-group btn-group-sm ms-auto">
        <a href="/" class="btn btn-outline-primary {{ 'active' if active_view == 'board' }}">Board</a>
        <a href="/summary" class="btn btn-outline-primary {{ 'active' if active_view == 'summary' }}">Summary</a>
    </div>
</div>