<div id="{{ list.id }}" class="d-flex flex-column col col-12 col-md-3 m-3 px-2 pt-2 bg-alpha rounded">
    <div class="d-flex align-items-center">
        <span class="flex-grow-1 px-2 fw-bolder">{{ list.name }}</span>
        <div class="btn-group">
            <a href="{{ url_for('create_card', list=list.id) }}" class="btn btn-link shadow-none">
                <i class="material-icons align-middle">add_circle_outline</i>
            </a>
            <a class="btn btn-link shadow-none">
                <i class="material-icons align-middle">more_vert</i>
            </a>
        </div>
    </div>
    <ul class="list-group px-2 pb-2">
        {% for card in list.cards %}
            {% include 'partials/card.html' %}
        {% endfor %}
    </ul>
</div>