{% extends 'layout/base.html' %}
{% set title = 'Move card' %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="col-11 col-md-3 bg-body rounded shadow-sm p-4 mb-5">
            <h5 class="fw-bold">Move card</h5>
            <form class="mt-3" method="POST">
                <input type="hidden" name="id" value="{{ card.id }}"/>
                <div class="mb-3">
                    {{ card.title }}
                </div>
                <div class="mb-3">
                    <label class="form-label" for="move_to">Move To *</label>
                    <select class="form-select" id="move_to" name="move_to" required>
                        {% for lst in current_user.lists %}
                            {% if lst.id != card.list_id %}
                                <option value="{{ lst.id }}">{{ lst.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="text-end">
                    <a href="/" class="btn btn-secondary">Cancel</a>
                    <button class="btn btn-primary">Move</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}