<div class="dropdown">
    <button class="btn btn-link shadow-none" data-bs-toggle="dropdown">
        <i class="material-icons align-middle">more_vert</i>
    </button>
    <form method="POST">
        <input type="hidden" name="id" value="{{ list.id }}"/>
        <ul class="dropdown-menu dropdown-menu-end position-fixed border-0 shadow">
            <li>
                <button class="dropdown-item" formmethod="get" formaction="{{ url_for('edit_list') }}">
                    <i class="material-icons align-middle pe-2">drive_file_rename_outline</i>
                    Edit
                </button>
            </li>
            <li>
                <button class="dropdown-item" formaction="{{ url_for('delete_list') }}">
                    <i class="material-icons align-middle pe-2">delete_outline</i>
                    Delete
                </button>
            </li>
        </ul>
    </form>
</div>