@import url("https://fonts.googleapis.com/css?family=Inter:400,500,700");

html, body {
    height: 100%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.bg-custom {
    background-color: #FFFBE6;
}

.bg-alpha {
    background-color: rgba(0, 0, 0, 0.04);
}

.board > .list-group {
    overflow: hidden scroll;
}

@media (max-width: 576px) {
    .board {
        scroll-snap-type: x mandatory;
    }

    .board > .col {
        scroll-snap-align: center;
    }
}

::-webkit-scrollbar {
    height: 8px;
    width: 6px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.20);
}

.list-group::-webkit-scrollbar-button {
    background: transparent;
    height: 4px;
    width: 4px;
}